

body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	color: #000000;
}

h1 {
    size: 300%;
    text-align: center;
}

.center{
    position: center;
}


.wrapper{
        display: flex;
        flex-direction: row wrap;
        justify-content:center;
        align-items:center;
        width: 66%;
}

.wrapper .ColorRed{
    width: 300px;
    height: 300px;
    margin: 25px;
    background-color: #fd1d1d;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}

.wrapper .ColorBlue{
    width: 300px;
    height: 300px;
    margin: 25px;
    background-color: #2835ee;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}

.wrapper .ColorGreen{
    width: 300px;
    height: 300px;
    margin: 25px;
    background-color: #059100;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}

.wrapper .ColorYellow{
    width: 300px;
    height: 300px;
    margin: 25px;
    background-color: #f4f81d;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}

.wrapper .ColorOrange{
    width: 300px;
    height: 300px;
    margin: 25px;
    background-color: #ffa126;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}

.wrapper .ColorPurple{
    width: 300px;
    height: 300px;
    margin: 25px;
    background-color: #7d00e4;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}

