

body{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(Images/Wallpaper.jpeg);
	color: #000000;
    display:flex; 
    align-items: center;
    flex-direction:column; 
    justify-content:center;

}

h1 {
    font-size: 300%;
    font-weight: bold;
}


.grow { 
    transform: scale(1.1);
}

.glow { 
    border:#f4f81d;
    border-style: solid;
}

.grow2{
    transform: scale(1.1);
}

.invisible{
    display: none;
}


/* Level 1 Styling*/
.GameBox{
    width:1100px;
    height:625px;
    display: flex;
    flex-direction: row;
    border: solid;
    border-radius: 45px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom: 15px;
}


.wrapper{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    margin-top: 25px;
    margin-bottom: 25px ;

}

.wrapper .ColorRed{
    width: 175px;
    height: 175px;
    margin: 15px;
    background-color: #fd1d1d;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}

.wrapper .ColorBlue{
    width: 175px;
    height: 175px;
    margin: 15px;
    background-color: #2835ee;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}

.wrapper .ColorGreen{
    width: 175px;
    height: 175px;
    margin: 15px;
    background-color: #059100;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}

.wrapper .ColorYellow{
    width: 175px;
    height: 175px;
    margin: 15px;
    background-color: #f4f81d;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}

.wrapper .ColorOrange{
    width: 175px;
    height: 175px;
    margin: 15px;
    background-color: #ffa126;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}

.wrapper .ColorPurple{
    width: 175px;
    height: 175px;
    margin: 15px;
    background-color: #6115a8;
	border-style: dashed;
	border-color: transparent;
	border-radius: 15px;
}


.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    width: 40%;

}

.circle{
    height:152px;
    width:152px;
    margin:15px;
}

/*Level 1 animations*/



/*Level 2 and 3 styling*/

.levelTwoWrapper{
    width: 100%;
    height:50%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;

}

.levelTwoContainer{
    width:100%;
    height: 50%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

}

.GameBoxLevelTwo{
    display: flex;
    flex-direction: column;
    width:75%;
    height: 500px;
    justify-content: center;
    border: solid;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    margin-bottom: 5px;
}

.shapes{
    height:150px;
    width:150px;
    margin: 10px;

}


.levelTwoWrapper .circleOutline{
    background-image: url(Images/CircleOutline.png);
    height:150px;
    width:150px;
    margin: 10px;
}

.levelTwoWrapper .heartOutline{
    background-image: url(Images/HeartOutline.png);
    height:150px;
    width:150px;
    margin: 10px;
}

.levelTwoWrapper .pentagonOutline{
    background-image: url(Images/PentagonOutline.png);
    height:150px;
    width:150px;
    margin: 10px;
}

.levelTwoWrapper .starOutline{
    background-image: url(Images/StarOutline.png);
    height:150px;
    width:150px;
    margin: 10px;
}

.levelTwoWrapper .triangleOutline{
    background-image: url(Images/TriangleOutline.png);
    height:150px;
    width:150px;
    margin: 10px;
}

.levelTwoWrapper .squareOutline{
    background-image: url(Images/SquareOutline.png);
    height:150px;
    width:150px;
    margin: 10px;
}

/* level 3 styling*/
.numbers{
    height:100px;
    width: 100px;
}

.GameBoxLevelThree{
    display: flex;
    flex-direction: column;
    width:85%;
    height: 500px;
    justify-content: center;
    border: solid;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    margin-bottom: 5px;
}
.levelTwoWrapper .numberHolder{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-style: solid;
	border-color: #000000;
	border-radius: 15px;
    border-width: 2px;
}

.oneColor{
    background-color: rgb(255, 113, 113);
}

.twoColor{
    background-color: rgb(253, 150, 143);
}

.threeColor{
    background-color: rgb(255, 198, 113);
}

.fourColor{
    background-color: rgb(253, 246, 143);
}

.fiveColor{
    background-color: rgb(191, 255, 131);
}

.sixColor{
    background-color: rgb(148, 230, 132);
}

.sevenColor{
    background-color: rgb(159, 241, 255);
}

.eightColor{
    background-color: rgb(123, 167, 250);
}

.nineColor{
    background-color: rgb(87, 78, 136);
}

.tenColor{
    background-color: rgb(181, 143, 253);
}


/* buttons*/
.gameselector{
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

button{
    font-size:120%;
    border-radius: 5px;
    font-weight: bold;

}

a{
    text-decoration: none;
    color:rgb(59, 59, 59);
}

.selected{
    background-color: #abcab3;
    color: #255627;
    width: 25%;
    font-weight: bold;
}
.unselected{
    width: 25%;
    background-color: #c3c2c4;
    
    
}
.unselected:hover{
    background-color: #e3d2ff;
    color: #3a2556;
    font-weight: bold;
}


